# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties



src/main/java/controller/UserRegServlet.java
src/main/java/entity/UsertableEntity.java
src/main
src/main/java/controller/UserLogServlet.java
.idea
src/main/java/entity
src/main/java/entity/InnermongoliaTripEntity.java
web
src/main/java/controller/HomeServlet.java
src/main/java
src/test
src/main/java/controller/DetailFoodServlet.java
target
src/main/java/entity/FoodITripEntity.java
src/main/resources
src
src/main/java/controller
src/main/java/controller/DetailServlet.java